<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://192.168.0.114</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.0.114</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/GGFPortal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GGFConnectionString1" Order="1" Enabled="False">
          <Destination Path="Data Source=192.168.0.131;Initial Catalog=GGF;User ID=sa;Password=1qaz2wsx" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.131;Initial Catalog=GGF;Persist Security Info=True;User ID=ViewUser;Password=ViewUser" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GGFConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.131;Initial Catalog=GGF;Persist Security Info=True;User ID=ViewUser;Password=ViewUser" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GGFConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=192.168.0.131;Initial Catalog=GGF;User ID=sa;Password=1qaz2wsx" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.131;Initial Catalog=GGF;User ID=sa;Password=1qaz2wsx" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GGFConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.131;Initial Catalog=GGF;User ID=sa;Password=1qaz2wsx" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AP1ConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=192.168.0.131;Initial Catalog=AP1;User ID=sa;Password=1qaz2wsx" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.131;Initial Catalog=AP1;User ID=sa;Password=1qaz2wsx" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AP1ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.131;Initial Catalog=AP1;User ID=sa;Password=1qaz2wsx" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DBConnectionString" Order="4" Enabled="False">
          <Destination Path="Data Source=192.168.0.131;Initial Catalog=GGF;User ID=sa;Password=1qaz2wsx" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.131;Initial Catalog=GGF;User ID=sa;Password=1qaz2wsx" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.131;Initial Catalog=GGF;User ID=sa;Password=1qaz2wsx" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False">
          <Destination Path="Data Source=192.168.0.131;Initial Catalog=GGF;User ID=sa;Password=1qaz2wsx" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-webtest-20160606092553.mdf;Initial Catalog=aspnet-webtest-20160606092553;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-webtest-20160606092553.mdf;Initial Catalog=aspnet-webtest-20160606092553;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GGFConnectionString2" Order="6" Enabled="False">
          <Destination Path="Data Source=192.168.0.131;Initial Catalog=GGF;User ID=sa;Password=1qaz2wsx" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.131;Initial Catalog=TestGroup;User ID=sa;Password=1qaz2wsx" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GGFConnectionString2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.131;Initial Catalog=TestGroup;User ID=sa;Password=1qaz2wsx" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TestGroupEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GGFPortal.DataSetSource.TestGroupEntities, GGFPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TestGroupConnectionString" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.131;Initial Catalog=TestGroup;User ID=sa;Password=1qaz2wsx;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TestGroupConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.131;Initial Catalog=TestGroup;User ID=sa;Password=1qaz2wsx;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GGFPortal.test.TestadboContainer" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GGFPortal.test.TestadboContainer, GGFPortal" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GGFEntitiesMGT" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GGFPortal.DataSetSource.GGFEntitiesMGT, GGFPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GGFCubeDBConnectionString" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.131;Initial Catalog=GGFCubeDB;Persist Security Info=True;User ID=sa;Password=1qaz2wsx" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GGFCubeDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.131;Initial Catalog=GGFCubeDB;Persist Security Info=True;User ID=sa;Password=1qaz2wsx" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GGFCubeDBEntities" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GGFPortal.DataSetSource.GGFCubeDBEntities, GGFPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AP1ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=192.168.0.131;Initial Catalog=AP1;User ID=sa;Password=1qaz2wsx</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=192.168.0.131;Initial Catalog=GGF;User ID=sa;Password=1qaz2wsx</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=192.168.0.131;Initial Catalog=GGF;User ID=sa;Password=1qaz2wsx</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GGFConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=192.168.0.131;Initial Catalog=GGF;User ID=sa;Password=1qaz2wsx</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GGFConnectionString1-Web.config Connection String">
      <ParameterValue>Data Source=192.168.0.131;Initial Catalog=GGF;User ID=sa;Password=1qaz2wsx</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GGFConnectionString2-Web.config Connection String">
      <ParameterValue>Data Source=192.168.0.131;Initial Catalog=GGF;User ID=sa;Password=1qaz2wsx</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GGFCubeDBConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GGFCubeDBEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GGFEntitiesMGT-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GGFPortal.test.TestadboContainer-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TestGroupConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TestGroupEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="GGFPortal.test.TestadboContainer" />
  </ItemGroup>
</Project>