<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://192.168.0.114</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.0.114</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/GGFTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GGFEntitiestest" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GGFPortal.test.GGFEntitiestest, GGFPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TestGroupEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GGFPortal.DataSetSource.TestGroupEntities, GGFPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GGFEntitiesMGT" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GGFPortal.DataSetSource.GGFEntitiesMGT, GGFPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MISEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GGFPortal.DataSetSource.MISEntities, GGFPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TestGroupConnectionString" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.131;Initial Catalog=TestGroup;User ID=ggsa;Password=1qA2wS3eD;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TestGroupConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.131;Initial Catalog=TestGroup;User ID=ggsa;Password=1qA2wS3eD;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GGFCubeDBConnectionString" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.131;Initial Catalog=GGFCubeDB;Persist Security Info=True;User ID=ggsa;Password=1qA2wS3eD" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GGFCubeDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.131;Initial Catalog=GGFCubeDB;Persist Security Info=True;User ID=ggsa;Password=1qA2wS3eD" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="VNNGGFConnectionString" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=113.160.202.125;Initial Catalog=VGG_GGF;Persist Security Info=True;User ID=sa;Password=12QWasZX" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VNNGGFConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=113.160.202.125;Initial Catalog=VGG_GGF;Persist Security Info=True;User ID=sa;Password=12QWasZX" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GGFConnectionString1" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.131;Initial Catalog=GGF;Persist Security Info=True;User ID=ViewUser;Password=ViewUser" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GGFConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.131;Initial Catalog=GGF;Persist Security Info=True;User ID=ViewUser;Password=ViewUser" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GGFConnectionString2" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.131;Initial Catalog=TestGroup;User ID=ggsa;Password=1qA2wS3eD" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GGFConnectionString2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.131;Initial Catalog=TestGroup;User ID=ggsa;Password=1qA2wS3eD" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GGFConnectionString" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.131;Initial Catalog=GGF;User ID=ggsa;Password=1qA2wS3eD" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GGFConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.131;Initial Catalog=GGF;User ID=ggsa;Password=1qA2wS3eD" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AP1ConnectionString" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.131;Initial Catalog=AP1;User ID=ggsa;Password=1qA2wS3eD" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AP1ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.131;Initial Catalog=AP1;User ID=ggsa;Password=1qA2wS3eD" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DBConnectionString" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.131;Initial Catalog=GGF;User ID=ggsa;Password=1qA2wS3eD" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.131;Initial Catalog=GGF;User ID=ggsa;Password=1qA2wS3eD" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-webtest-20160606092553.mdf;Initial Catalog=aspnet-webtest-20160606092553;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-webtest-20160606092553.mdf;Initial Catalog=aspnet-webtest-20160606092553;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GGFCubeDBEntities" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.131;Initial Catalog=GGFCubeDB;Persist Security Info=True;User ID=ggsa;Password=1qA2wS3eD;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GGFCubeDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DataSetSource.GGFCube.csdl|res://*/DataSetSource.GGFCube.ssdl|res://*/DataSetSource.GGFCube.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.131;initial catalog=GGFCubeDB;persist security info=True;user id=ggsa;password=1qA2wS3eD;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GGFEntities" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GGFPortal.DataSetSource.GGFEntities, GGFPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EIPConnectionString" Order="16" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.116;Initial Catalog=EIP;User ID=sa;Password=sa" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EIPConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.116;Initial Catalog=EIP;User ID=sa;Password=sa" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SampleModel" Order="17" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.131;Initial Catalog=GGF;User ID=ggsa;Password=1qA2wS3eD;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SampleModel_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.0.131;initial catalog=GGF;user id=ggsa;password=1qA2wS3eD;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EIPEntities" Order="18" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.116;Initial Catalog=EIP;Persist Security Info=True;User ID=sa;Password=sa;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EIPEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DataSetSource.ModelEIP.csdl|res://*/DataSetSource.ModelEIP.ssdl|res://*/DataSetSource.ModelEIP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.116;initial catalog=EIP;persist security info=True;user id=sa;password=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AP1ConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EIPConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GGFConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GGFConnectionString1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GGFConnectionString2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GGFCubeDBConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GGFCubeDBEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GGFEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GGFEntitiesMGT-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GGFEntitiestest-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MISEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SampleModel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TestGroupConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TestGroupEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VNNGGFConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>